header{
  grid-area: cabecalho;
  background-color: aquamarine;
}

nav {
  grid-area: navegacao;
  background-color: bisque;
}

aside{
  grid-area: menuLateral;
  background-color: skyblue;
}

main{
  grid-area: conteudo;
  background-color: lightgoldenrodyellow;
}

footer{
  grid-area: rodape;
  background-color: lightgreen;
}

.App {
  display : grid;
  min-height:100vh;
  grid-template-columns:3fr 9fr;
  grid-template-rows:70px 1fr 50px;
  grid-template-areas:
  'cabecalho navegacao'
  'menuLateral conteudo'
  'rodape rodape';
}

@media(max-width:700px){
  .App{
      grid-template-columns:1fr;
      grid-template-rows:80px 1fr 100px;
      grid-template-areas:
      'navegacao'
      'conteudo'
      'rodape';
  }
  header{
      display:none;
  }
}